.box_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.box_form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  .form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto !important;
  }

  .textField {
    width: 85%;
    margin-top: 15px;
  }
}

.box_button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
