.box_main {
  width: 100%;
  min-height: 90vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 820px) {
    width: 100%;
    min-height: auto;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box_title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media (max-width: 820px) {
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }
  }

  .box_inputs {
    width: 100%;

    .form {
      width: 100%;

      .textField {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
