.box_main{
    width: 100%;
    min-height: 88vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    .box_table{
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .addButton{
        position: fixed;
        bottom: 20px;
        right: 20px;
        
    }
}