.div_main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .div_card {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .div_title {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
    }

    .div_form {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .div_inputs {
          width: 60%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-bottom: 10px;

          .input {
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.div_btn {
  margin-top: 10px;

  .btn {
    background-color: #887bb0;
    border: none;
  }
}
