.box_main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .box_table{
        width: 75%;
    }

    .addButton{
        width: 98%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        
    }
}