.box_table {
  width: 90%;
  max-height: 80vh;

  @media (max-width: 820px) {
    width: 90%;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box_noData {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
  }
}
