.box_main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .box_table {
    width: 90%;

    .box_noData {
      width: 100%;
      min-height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
    }
  }

  .addButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
