.modalContainer {
  display: flex; /* Utiliza el modelo de caja flexible para alinear los elementos */
  flex-direction: column; /* Organiza los elementos en columnas */
  position: fixed; /* Fija la posición del contenedor con respecto a la ventana del navegador */
  top: 0; /* Coloca el contenedor en la parte superior de la ventana */
  right: 0; /* Coloca el contenedor en el lado derecho de la ventana */
  height: 100vh; /* Establece la altura del contenedor al 100% del alto de la ventana */
  width: 400px; /* Establece el ancho del contenedor en 400 píxeles */
  background-color: white; /* Fondo blanco para el contenedor */
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave al contenedor */
  padding: 16px; /* Espacio de relleno interno del contenedor */
  overflow: auto !important; /* Añade barras de desplazamiento si el contenido excede el tamaño del contenedor */

  /* Estilos para pantallas más pequeñas */
  @media (max-width: 820px) {
    top: 40%; /* Coloca el contenedor en el centro vertical de la ventana */
    left: 50%; /* Coloca el contenedor en el centro horizontal de la ventana */
    transform: translate(-50%, -50%); /* Centra el contenedor completamente */
    width: 87%; /* Redefine el ancho del contenedor al 87% del ancho de la ventana */
    height: 62vh; /* Redefine la altura del contenedor al 62% del alto de la ventana */
    right: auto; /* Desactiva la posición a la derecha en pantallas pequeñas */
  }
}
