.box_main{
  width: 95%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .box_inputs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 8px;

    @media (max-width: 820px){
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .box_cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.boxAdd {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
